<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="agencies">
      <% agenciesData.forEach(agency => { %>
        <div class="agency">
          <h2><%= agency.name %></h2>
          <% agency.properties.forEach(prop => { %>
            <div>
              <a href="<%= prop.link %>"><h3><%= prop.title %></h2></a>
              <p><%= prop.price %></p>
            </div>
          <% }) %> 
        </div>
      <% }); %> 
    </div>
  </body>
</html>
